<div>
  <strong>Olá, {{ provider }}</strong>
  <p>Houve uma nova inscrição para o seu evento , confira os detalhes abaixo</p>
  <p>
    <strong>Evento: {{ title }}</strong><br />
    <strong>Cliente: {{ user }}</strong><br />
    <br />
  </p>
</div>
